.contact-section {
    display: flex;
    flex-direction: column; /* Stack content vertically for small screens */
    padding: 40px;
    animation: fadeInUp 1s ease-in-out;
}

.contact-info {
    width: 100%; /* Full width on small screens */
    margin-bottom: 40px; /* Space between info and form */
}

.contact-info h1 {
    font-size: 40px;
    color: #ffffff;
    position: relative;
}

.contact-info span {
    color: #00d8ff;
    transition: color 0.3s ease;
   
}

.contact-info span:hover {
    color: #ffcc00;
}

.contact-info p {
    font-size: 17px;
    line-height: 1.6;
}

.customer-care {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.contact-method {
    display: flex;
    align-items: center;
}

.contact-method .icon {
    color: #00d8ff;
    margin-right: 10px;
    font-size: 17px;
}

.contact-method h3 {
    font-size: 17px;
    margin: 0;
    margin-right: 5px;
}

.contact-form {
    width: 100%; /* Full width on small screens */
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 17px 21px;
    background: #1b2a4a;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    background-color: #223654;
}

.contact-form button {
    padding: 10px;
    background-color: #00d8ff;
    color: #0d1b2a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ffcc00;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-form {
    position: relative;
}

/* Message Container */
.message-container {
    position: absolute;
    top: -2px; 
    left: 0;
    width: 100%;
    text-align: left;
    padding: 10px;
    color: black;
}

.message-container p {
    margin: 0;
    color: green; 
}

/* Responsive Styles */
@media (min-width: 768px) {
    .contact-section {
        flex-direction: row; /* Side by side on larger screens */
    }

    .contact-info {
        width: 50%; /* Half width for contact info */
        margin-right: 20px; /* Space between info and form */
    }

    .contact-form {
        width: 50%; /* Half width for form */
        padding-right: 30px;
    }
}
